body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .text-banner {
    white-space: nowrap;
    width: 100%;
    background-color: #C3DDF2;
    overflow: hidden;
  }
  
  .text-track {
    display: flex; 
    animation: scroll 25s linear infinite;
    padding: 15px 0;
  }
  
  .text-track h2 {
    display: flex; 
    align-items: center;
    margin: 0 5rem;
    white-space: nowrap;
  }
  
  @keyframes scroll {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }
  
  
  