.footer {
    padding: 40px;
    display: grid;
}

.opening-list {
    list-style: none;
    padding: 0;
}

.opening-list li {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    padding: 5px;
    gap: 5px; 
}

.hearts {
    text-align: center; 
}

.hours h2,
.footer-links h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.socials {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    justify-content: center;
}

.contact p {
    margin-bottom: 5px;
}

.footer-links a {
    display: block; 
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.map iframe {
    width: 100%;
    height: 280px;
    border: none;
}

.smiley {
    display: flex;
    align-items: center;       /* Vertikal centrering */
    justify-content: flex-start;
    gap: 15px;                 
    text-align: left;
}

.smiley p {
    margin: 0;
    white-space: nowrap;       /* Gør at teksten aldrig bryder linjen */
}

.smiley img {
    width: 50%;              
}

.copyright {
    text-align: center;
    margin-top: 10px;
}


/* Mobile layout */
@media screen and (max-width: 360px) {
    .footer-links h2 {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .footer-links h2 {
        display: none;
    } 

    .smiley img {
        width: 30%;              
    }
    .smiley{
        align-items: center;       /* Vertikal centrering */
    }
}

/* Tablet layout */
@media screen and (min-width: 768px) {
    .footer-links h2 {
        display: none;
    }
}

/* Desktop layout */
@media screen and (min-width: 1200px) {

    .footer {
        grid-template-columns: 1.2fr 1fr 1fr 1fr;     /* 4 kolonner */
        gap: 40px;
        align-items: start;
        text-align: left;
    }

    .map      { grid-column: 1; grid-row: 1; } 
    .hours    { grid-column: 2; grid-row: 1; }
    .footer-links { grid-column: 3; grid-row: 1; }
    .contact  { grid-column: 4; grid-row: 1; }

    .socials {
        grid-column: 4;
        grid-row: 1;          /* samme række */
        margin-top: 140px;    
        justify-content: flex-start;
    }

    .smiley {
        grid-column: 4;
        grid-row: 1;          /* samme række */
        margin-top: 180px;    /* under ikonerne */
        text-align: left;
    }

    .copyright {
        grid-column: 1 / 5;
        text-align: center;
    }

    .footer-links h2 {
        display: block;
    }
}
