.footer {
    padding: 30px 20px;
    text-align: center;
}

.footer h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.opening-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.opening-list li {
    margin: 6px 0;
    font-size: 18px;
}

.hearts {
    margin: 0 10px;
    font-size: 10px;
}

.socials img {
    width: 32px;
    margin: 10px;
}

.contact p {
    margin: 3px 0;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.map iframe {
    width: 100%;
    height: 200px;
    border: none;
    margin-top: 20px;
}

.smiley img {
    width: 60px;
    margin-top: 10px;
}

.smiley p {
    margin-top: 5px;
}

@media (min-width: 900px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: left;
        padding: 50px 80px;
        gap: 40px;
    }

    .opening, .footer-links, .contact, .socials, .smiley {
        text-align: left;
    }

    .map iframe {
        height: 300px;
        width: 100%;
    }

    .socials img {
        width: 35px;
    }

    
    .smiley {
        margin-top: 20px;
        text-align: left;
    }

    .copyright {
        grid-column: 1 / 4;
        text-align: center;
        margin-top: 20px;
    }
}
