.footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.opening-list {
    list-style: none;
    padding: 0;
}

.opening-list li {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    padding: 5px;
    gap: 5px; 
}

.hearts {
    text-align: center; 
}


.socials {
    display: flex;
    gap: 25px;
    margin-top: 20px;
}

.socials img {
    width: 32px;
}

.contact p {
    margin: 4px;
}


.footer-links a {
    display: block; 
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.footer-links h2 {
    margin-bottom: 10px;
}


.map iframe {
    width: 100%;
    height: 280px;
    border: none;
}


.smiley {
    text-align: center;
    margin-top: 40px;
}

.smiley img {
    width: 90px;
    margin-bottom: 10px;
}

.copyright {
    text-align: center;
    margin-top: 10px;
}


@media (min-width: 1440px) {

    .footer {
        grid-template-columns: 1.2fr 1fr 1fr 1fr;
        gap: 40px;
        align-items: start;
        text-align: left;
    }

    .map { grid-column: 1; }
    .hours { grid-column: 2; }
    .footer-links { grid-column: 3; }
    .contact { grid-column: 4; }

    .socials {
        grid-column: 4;
        margin-top: 20px;
        justify-content: flex-start;
    }

    .smiley {
        grid-column: 4;
        margin-top: 20px;
        text-align: left;
    }

    .copyright {
        grid-column: 1 / 5;
        text-align: center;
        margin-top: 40px;
    }
}


@media (max-width: 390px) {

    .footer {
        padding: 30px 20px;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .opening-list li {
        justify-content: center;
        gap: 12px;
    }

    .socials {
        justify-content: center;
        margin: 20px 0;
    }

    .map iframe {
        height: 220px;
    }
}
