.kontakt-sektion {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 30px; /* mere luft på siderne */
}

.kontakt-tekst {
    margin-bottom: 15px;
    line-height: 1.4;
}

.kontakt-formular {
    display: flex;
    flex-direction: column;
    gap: 8px; 
    text-align: left;
}

.kontakt-formular label {
    margin-bottom: 2px;
}

.kontakt-formular input,
.kontakt-formular textarea {
    width: 100%;
    padding: 10px 12px;
    border-radius: 12px;
    border: 1px solid #1a1a1a; /* tydelig sort kant */
    background-color: #ffffff;

    /* indre skygge og ydre skygge for dybde */
    box-shadow:
        inset 0 0 8px rgba(0, 0, 0, 0.25),
        0 0 2px rgba(0, 0, 0, 0.15); 
}


.button {
    display: inline-block; /* gør knappen inline-block for bedre kontrol */
    margin: 15px 0; 
    padding: 8px 20px; 
}

/* Billede skjult på mobil */
.kontakt-billede {
    display: none;
}


@media screen and (max-width: 360px) {
    .kontakt-sektion {
        padding: 25px 20px; 
    }

    .kontakt-formular input,
    .kontakt-formular textarea {
        padding: 5px 7px;
    }
}

@media screen and (min-width: 480px) {
    .kontakt-sektion {
        padding: 30px 40px; 
    }

    .kontakt-tekst {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .kontakt-sektion {
        max-width: 500px;
        padding: 35px 50px;
    }

    .kontakt-formular input,
    .kontakt-formular textarea {
        padding: 10px 12px;
        border-radius: 8px;
    }
}

@media screen and (min-width: 1200px) {
    .kontakt-sektion {
        max-width: 600px;
        padding: 40px 20px;
    }

    .kontakt-tekst {
        margin-bottom: 30px;
    }

    .kontakt-formular label {
        font-size: 20px;
    }

    .kontakt-formular input,
    .kontakt-formular textarea {
        padding: 12px 15px;
        border-radius: 10px;
        box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.25),
        0 0 2px rgba(0, 0, 0, 0.15); /* indre og ydre skygge for dybde */
    }

    .button {
        margin-bottom: 30px;
        padding: 10px 100px;
    }

    /* Vis billedet på desktop */
    .kontakt-billede {
        display: block;
    }

    .kontakt-billede img {
        max-width: 60%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        pointer-events: none;
        padding-top: 10px;
        margin-bottom: 40px;
    }
}