
/* Mobil (390px) */
.kontakt-sektion {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 30px; 
}

.kontakt-tekst {
    margin-bottom: 15px;
    line-height: 1.4;
    color: #1a1a1a;
    font-size: 13px;
}

.kontakt-formular {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    text-align: left;
}

.kontakt-formular label {
    font-size: 11px;
    color: #1a1a1a;
    margin-bottom: 2px;
}

/* Input og textarea med inner stroke - mindre boks */
.kontakt-formular input,
.kontakt-formular textarea {
    width: 100%;
    padding: 6px 8px;  /* mindre bokse */
    font-family: 'playfair display', serif;
    font-size: 12px;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0 0 0 1px #1a1a1a;
}


.button {
    display: inline-block;
    margin: 40px 0; 
    padding: 8px 20px; 
}

/* Billede skjult på mobil */
.kontakt-billede {
    display: none;
}

/* Desktop (1440px) */
@media screen and (min-width: 1440px) {
    .kontakt-sektion {
        max-width: 600px;
        padding: 40px 20px;
    }

    .kontakt-tekst {
        margin-bottom: 30px;
    }

    .kontakt-formular label {
        font-size: 18px;
    }

    .kontakt-formular input,
    .kontakt-formular textarea {
        padding: 12px 15px;
        border-radius: 10px;
        box-shadow: inset 0 0 0 2px #1a1a1a;
    }

    .button {
        margin-bottom: 30px;
        padding: 10px 100px;
    }

    .kontakt-billede {
        display: block;
    }

    .kontakt-billede img {
        max-width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        pointer-events: none;
        padding-top: 10px;
    }
}